<div class="contents">
  <div class="card green lighten-5">
    <p class="z-depth-3"></p>
    <div class="card-content blue-grey-text darken-5">
      <span class="card-title"><%= @content.user.name %></span>
      <p><%= @content.text %></p>
    </div>
    <div class="card-action">
      <% if user_signed_in? %>
        <%= form_for [@content, @comment], :url => {:action => 'create'} do |f| %>
          <ul class="collection">
            <li class="collection-item">
              <span class="title"><% current_user.name %></span>
              <p>
               <% f.text_field :content, class: 'form__message', placeholder: 'type a message' %>
              </p>
              <% f.submit 'send', class: 'material-icons' %>
            </li>
          </ul>
        <% end %>
      <% end %>
    </div>
    <% if @comments %>
      <% @comments.each do |comment| %>

          <ul class="collection">
            <li class="collection-item">
              <span class="title"><%= comment.user.name %></span>
              <%= simple_format(comment.text) %>
            </li>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
